<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @report.report_title %>
</p>

<!-- <b>Timespan</b>
<%# @report.timespans.each do |t| %>
 <p>Start_Time is <%#=t.start_time%></p>
 
<%#end%> -->
<p>
<b>Worktime</b>
<% @report.worktimes.each do |w| %>
 <p>Start_Time is <%=w.start_time%></p>
 
<%end%>
<p>

  <b>Bodytext:</b>
  <%= @report.report_body_text %>
</p>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
